.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.c-user img,
.c-user span {
    margin-left: 10px;
    color: #000;
    padding-top: 100%;
}

.container-maps {
  padding: 10%;
  color: red;
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.main-container{
  padding-top: 5%;
}

.offset-general{
  padding-top: 100px;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
